<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :gifts %><br>
    <%= f.number_field :gifts %>
  </div>
  <div class="field">
    <%= f.label :quickies %><br>
    <%= f.number_field :quickies %>
  </div>
  <div class="field">
    <%= f.label :smfls %><br>
    <%= f.number_field :smfls %>
  </div>
    <div class="field">
      <%= f.label :opened %><br>
      <%= f.number_field :opened %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
