<h1>Listing people</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gifts</th>
      <th>Quickies</th>
      <th>SMFLs</th>
      <th>Opened</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.gifts %></td>
        <td><%= person.quickies %></td>
        <td><%= person.smfls %></td>
        <td><%= person.opened %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Total Gifts</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= Person.total_all_gifts %></td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
<%= link_to 'Next Present!', :action => :next %>