<h1>Listing people</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gifts</th>
      <th>Opened</th>
      <th>Complete</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.total_gifts %></td>
        <td><%= person.opened %></td>
        <td><%= "#{person.percent_opened.round(1)}%" %></td>
        <td><%= link_to 'Open a Gift!', opened_person_path(person) %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Next Present!', :action => :next %>